.main{
    margin: 50px 0px;
}
.top{
    background-color: #F5F8FE;
    width: 100vw;
    height: 179px;
    margin-bottom: 50px;
}
.logo {
    color: #ff9f26;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .logoBottom{
    color: #ff9f26;
    font-size: 25px;
    margin-right: 20px;
    margin-top: 10px;
  }
  .title {
    position: relative;
    display: inline-block;
  }
  .title::after {
    content: "";
    position: absolute;
    color: #222f3e;
    bottom: -10px;
    width: 25px;
    height: 2px;
    left: 0;
    background: #ff9f26 0% 0% no-repeat padding-box;
  }
  .input{
      border: none;
      border: 1px solid #1F2A3633;
      color: #828B9A;
      padding: 10px;
  }
  .button{
      border: none;
      background-color: #FF9F26;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      padding: 10px 25px;
  }

  @media only screen and (max-width: 600px) {
    .title::after {
      content: "";
      position: absolute;
      color: #222f3e;
      bottom: -10px;
      width: 25px;
      height: 2px;
      
      background: #ff9f26 0% 0% no-repeat padding-box;
    }
  }